.rcw-launcher {
    background: #FE8E36;
}
.rcw-conversation-container > .rcw-header {
    background-color: #FE8E36;
}
.rcw-conversation-container > .rcw-header > .rcw-close-button {
    background-color: #FE8E36;
}