.rcw-launcher {
    background: #85acb9;
}
.rcw-conversation-container > .rcw-header {
    background-color: #85acb9;
}
.rcw-conversation-container > .rcw-header > .rcw-close-button {
    background-color: #85acb9;
}